body {
  font: 18px Helvetica;
}

#title_bar {
  background: #ccc;
  background; -webkit-gradient(linear, 0 0, 0 70%, from(#fff), to(#ccc));
  color: #444;
  height: 44px;
  border-bottom: 1px solid #999;
  -webkit-box-shadow: 0 0 3px rgba(0,0,0,0.3)
}


